@import "../../node_modules/normalize-scss/sass/normalize";

@include normalize;

$font-family: "Lato", sans-serif;
$font-size: 14px;
$font-weight: 400;

$color: #333;
$bg-color: #000;

@-ms-viewport {
  width: device-width;
}

html,
body {
  overflow-x: hidden;
  width: 100%;
  background-color: $bg-color;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

* {
  &,
  &::before,
  &::after {
    box-sizing: inherit;
    -ms-overflow-style: scrollbar;
  }
}

body {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  color: $color;
}
