$tile-margin: 5px 10px;
$tile-width: 310px;
$tile-height: 230px;
$tile-img-height: 58%;
$tile-content-bg-color: #22192b;
$tile-content-height: 42%;
$tile-content-pad: 10px;
$tile-title-size: 16px;
$tile-title-color: #fff;
$tile-competition-title-size: 14px;
$tile-competition-title-color: #aaa;
$tile-desc-size: 12px;
$tile-desc-color: #666;

.tile {
  width: $tile-width;
  height: $tile-height;
  display: inline-block;
  position: relative;
  overflow: hidden;
  margin: $tile-margin;
  
  &__img,
  &__content {
    position: absolute;
    left: 0;
    right: 0;
  }
  
  &__img {
    height: $tile-img-height;
    top: 0;
  }
  
  &__content {
    height: $tile-content-height;
    bottom: 0;
    line-height: 1.5;
    padding: $tile-content-pad;
    background-color: $tile-content-bg-color;
  }
  
  &__title,
  &__competition-title {
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
  }
  
  &__title {
    font-size: $tile-title-size;
    font-weight: 700;
    color: $tile-title-color;
  }
  
  &__competition-title {
    font-size: $tile-competition-title-size;
    color: $tile-competition-title-color;
  }
  
  &__desc {
    padding-top: 5px;
    font-size: $tile-desc-size;
    color: $tile-desc-color;
    white-space: normal;
    line-height: 1;
    overflow: hidden;
    max-height: 2.5 * $tile-desc-size;
  }
}