$rail-title-size: 18px;
$rail-title-color: #fff;
$rail-title-pad: 20px 20px 5px;

.rail {
  white-space: nowrap;
  max-width: 100%;
  font-size: 0;
  overflow: auto;
  
  &__title {
    font-size: $rail-title-size;
    font-weight: 700;
    color: $rail-title-color;
    padding: $rail-title-pad;
    text-transform: uppercase;
  }
}